<!-- Registration Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Register Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	
	<img src="../resources/img/beproudcapaabanner.jpg" class="img-fluid" alt="Registration Page Banner for CU Football">
    <br>
	<br>
	<div class="container">
		<form action="home.html">
			<div class="form-group row">
				<label for="registrationName" class="col-sm-2 col-form-label">Full Name: </label>
				<input type="text" class="form-control col" id="registrationName" placeholder="Your Name">
			</div>
			<div class="form-group row">
				<label for="registrationEmail" class="col-sm-2 col-form-label">Email Address: </label>
				<input type="email" class="form-control col" id="registrationEmail" placeholder="Your Email">
			</div>
			<div class="form-group row">
				<label for="registrationPassword" class="col-sm-2 col-form-label">Password: </label>
				<input type="password" class="form-control col" id="registrationPassword" placeholder="Password">
			</div>
			<div class="form-group row">
				<label for="registrationPasswordConfirm" class="col-sm-2 col-form-label">Confirm Password: </label>
				<input type="password" class="form-control col" id="registrationPasswordConfirm" placeholder="Confirm Password">
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">CU Boulder Alumni</label>
				<div class="col">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="alumniCheck" id="registrationAlumniYes" value="yes">
						<label class="form-check-label" for="registrationAlumniYes">Yes</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="alumniCheck" id="registrationAlumniNo" value="no" checked>
						<label class="form-check-label" for="registrationAlumniNo">No</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">CU Boulder Student</label>
				<div class="col">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="StudentCheck" id="registrationStudentYes" value="yes">
						<label class="form-check-label" for="registrationStudentYes">Yes</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="StudentCheck" id="registrationStudentNo" value="no" checked>
						<label class="form-check-label" for="registrationStudentNo">No</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Student Status</label>
				<div class="col">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="StudentTypeCheck" id="registrationStudentUndergrad" value="undergraduate" checked>
						<label class="form-check-label" for="registrationStudentUndergrad">Undergraduate</label>
						<select class="form-control" name="UndergraduateStudentStatus">
							<option value="" selected disabled hidden>Select Student Status</option>
							<option value="freshman">Freshman</option>
							<option value="sophmore">Sophomore</option>
							<option value="junior">Junior</option>
							<option value="senior">Senior</option>
							<option value="other">Other</option>
						</select>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="StudentTypeCheck" id="registrationStudentGrad" value="graduate">
						<label class="form-check-label" for="registrationStudentGrad">Graduate</label>
						<select class="form-control" name="GraduateStudentStatus">
							<option value="" selected disabled hidden>Select Student Status</option>
							<option value="mba">MBA</option>
							<option value="ms">Masters Student</option>
							<option value="phd">Doctoral Student</option>
							<option value="law">Law Student</option>
							<option value="other">Other</option>
						</select>
					</div>
				</div>
			</div>
			<!--
				Todo: Create a form with the following fields:
					1. Name Text Field
					2. Email Text Field
					3. Password Text Field
					4. Password Confirmation Text Field
					5. Email Text Field
					6. CU Boulder Alumni Radio Button
					7. CU Boulder Student Radio Button
					8. CU Boulder Undergrad/Grad Radio Button
					9. Undergraduate Select (Freshman-Senior)
					10. Graduate Select (MA, MBA, PhD)
					11. Submit Button (links to home page)

			-->
			<div class="row">
				<input type="submit" value="Submit" class="btn btn-primary btn-block">
			</div>
		</form>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
